<p>user-login works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
       integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="user-login.component.css>
</head>
<body>
  <form class="form-container">
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="email" placeholder="Email" name="" value="">
            
        </div>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="" value="">
        </div>
        <div><a href="#">forgot password?</a></div>
        <!--<div class="checkbox">
          <label>
          <input type="checkbox">Remember Me
        </label>
        </div>-->
        <input class="btn" type="button"  name="" value="Sign in">
    </div></form>
  
</body>
</html>
